.headline {
	font-size: 75px;
	font-family: sans-serif;
}
.subheader {
	font-size: 45px;
	font-family: sans-serif;
}
.analysis{ 
	font-size: 30px;
	font-family: sans-serif;
 }
body{
	background-color: #FFB580;
}
img{
	max-width: 100%;
	min-width: 100%;
}
.metrics {
	font-size: 25px;
	font-family: sans-serif;
}
.photo-caption{
	font-size: 15px;
	font-family: sans-serif;
}
.visual{
	display: grid;
	max-width: 700px;
	background-color: whitesmoke;
}